@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--pale-blue);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card {
  width: 23rem;
  height: 33rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.33rem 2rem var(--desaturated-blue);
}

.card > picture {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.card > picture > img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
}

.card > picture > img:hover {
  transform: scale(1.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.card-content > h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 1.46rem;
  line-height: 1.93rem;
  color: var(--dark-blue);
}

.card-content > p {
  width: 16.6rem;
  margin-top: 1.26rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.26rem;
  text-align: center;
  color: var(--desaturated-blue);
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.33rem;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.6rem;
  background-color: var(--very-pale-blue);
}

.price-container .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}

.price-container .price .description {
  display: flex;
  flex-direction: column;
}
.price-container .price .description > p {
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.06rem;
  color: var(--dark-blue);
}
.price-container .price .description > p:last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.06rem;
  color: var(--desaturated-blue);
}

.price-container .change > a {
  color: var(--desaturated-blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1.06rem;
  border-bottom: 1px solid var(--desaturated-blue);
}

.price-container .change > a:hover {
  color: var(--bright-blue);
  border: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-container > button {
  width: 160%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.6rem;
  border: none;
  background-color: var(--bright-blue);
  font-style: normal;
  font-weight: 900;
  font-size: 0.93rem;
  line-height: 1.26rem;
  color: var(--pale-blue);
  box-shadow: 0 0.6rem 0.6rem var(--desaturated-blue);
  transition: all 0.7s ease;
}

.btn-container > button:hover {
  cursor: pointer;
  background-color: var(--desaturated-blue);
}

.btn-container > a {
  margin-top: 1.26rem;
  text-decoration: none;
  color: var(--desaturated-blue);
  font-style: normal;
  font-weight: 700;
  font-size: 0.93rem;
}

.btn-container > a:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    background-image: url('./images/pattern-background-mobile.svg');
  }
}
